body {
    background-image: url("../assets/background.png");
    background-size: cover;
}

/* Partie drapeau et conteneur du drapeau  */

div.jumbotron {
    margin-top: 12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: rgb(79, 174, 234);
    background-size: cover;
    box-shadow: 2px 2px 2px 3px black;
    
}

#nbquestion{
    padding-top: 3rem;
}

.police{
    text-align: center;
    padding-top: 3rem;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

div.jumbotron #flag{
    max-width: 50%;
    height: auto;
}

/* Partie question  */

#question{
    text-align: center;
}

/* Partie Liste des réponses  */

ul{
    list-style: none;
    cursor: pointer;
}

ul.jumbotron {
    background-color:rgb(79, 174, 234);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 2px 2px 2px black;
}

#response {
    margin-right: 2rem;
    margin-top: 1rem;
}