@font-face {
    src: url( ../../fonts/MilkyNice.ttf );
    font-family: milky;
}

body {
    background-image: url("../../assets/jeux.png");
    background-size:cover;
    height:100%;
    background-repeat:no-repeat;
    background-position-y: 100%;
    background-attachment:fixed;
    background-position: center !important;
}

h2 {
    font-size: 150%  !important;
}

#question, img{
    height: 100px;
}

#ChoixText{
    margin-bottom: 10rem;
}

#normal{
    margin-right: 2rem;
}

#hard{
    margin-left: 2rem;
}



.police{
    text-align: center;
    padding-top: 2rem;
    font-family: milky; 
    font-size: 200%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

#question{
    margin-top: 100px;
    text-align: center;
}

div.jumbotron #flag1 #flag2 #flag3 #flag4{
    max-width: 100%;
    height: auto;
    border-radius: 25px 25px 25px 25px;

}
div.jumbotron {
    width: 50%;
    margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
}

a{
    text-decoration: none !important;
    color: white !important;
    background: #ffffff;
    position: relative;
    padding: 0.7%;
    font-family: milky;
    font-size: 150%;
    border-radius: 20px;
    box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
    transition: all 0.1s;
    
}

a:hover {
    background-color: #e94b68;
    font-size: 175%;
    cursor: pointer;
}

#end {
    position: relative;
    margin-top: 20%;
}


a:active{
    top: 0.5rem;
    box-shadow: 0px 7px 0px 0px #f02046;
}
  
.button2{
    background-color: rgb(255, 96, 82);
    box-shadow: 0px 7px 0px 0px rgb(194, 122, 122);
}
.button2:active{
    box-shadow: 0px 7px 0px 0px rgb(194, 122, 122);
}

/* Partie pour la selection du mode */

div#select {
    margin-top:8%;
    text-align : center;
}


#pfin{
    margin-top: 5%;
    margin-bottom: 5%;
}

#conteneurflag {
    align-items: center;
}

#flag1 {
    width: 35%;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}

#flag2 {
    width: 35%;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    margin-left: 5%;
}

#flag3 {
    width: 35%;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    margin-top: 5%;
}

#flag4 {
    width: 35%;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 5%;
}

img#goodflag {
    margin-bottom:5%;
}

#timer {
    position: absolute;
    right: 0;
    margin-right: 200px;
    top: 50px;
    font-family: milky; 
}

#goodflag{
    max-width: 100%;
    height: 10rem;
    border-radius: 25px 25px 25px 25px;
}

#menu{
    margin-top: 6%;
}