@font-face {
    src: url( ../../fonts/MilkyNice.ttf );
    font-family: milky;
}
  

body {
    background-image: url("../../assets/jeux.png");
    background-size:cover;
    height:100%;
    background-repeat:no-repeat;
    background-position-y: 100%;
    background-attachment:fixed;
    background-position: center !important;
}

#end {
    position: relative;
    margin-top: 20%;
}

div.jumbotron {
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
    align-items: center;
}

#drapeau1 {
    width: 33%;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}


#drapeau2 {
    width: 33%;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}

#nbquestion{
    padding-top: 3rem;
}


.police{
    text-align: center;
    padding-top: 3rem;
    font-family: milky; 
    font-size: 150%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}


a{
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
    background: #ff0000;
    position: relative;
    padding: 0.7%;
    font-family: milky;
    font-size: 150%;
    border-radius: 20px;
    box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
    transition: all 0.1s;
}

a:hover {
    background-color: #e94b68;
    font-size: 175%;
    cursor: pointer;
}

a:active{
    top: 0.5rem;
    box-shadow: 0px 7px 0px 0px #f02046;
}

.button2{
    background-color: rgb(255, 96, 82);
    box-shadow: 0px 7px 0px 0px rgb(194, 122, 122);
}
.button2:active{
    box-shadow: 0px 7px 0px 0px rgb(194, 122, 122);
}


#question, img{
    border-radius: 25%;
}

#timer {
    position: absolute;
    right: 0;
    margin-right: 200px;
    top: 50px;
    font-family: milky; 
}

#pays2{
    margin-top: 2%;
}

#pays1{
    margin-top: 2%;
}

#Qsuivant{
    margin-bottom: 3%;
}

#pfin{
    margin-top: 5%;
    margin-bottom: 5%;
}