@font-face {
    src: url( ../fonts/MilkyNice.ttf );
    font-family: milky;
}

body {
    background-image: url("../assets/jeux.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position-y: 100%;
    background-attachment:fixed;
    background-position: center !important;
    font-family: milky !important;
    text-align: center !important;
}

.map {
    width: 35%;
    margin-left: 30%;
    float: center;
}

.map path{
    fill: darkslateblue;
    stroke: white;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map path:hover{
    fill: blueviolet;
}

