body {
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Partie drapeau et conteneur du drapeau  */

div.jumbotron {
    margin-top: 12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(79, 174, 234);
    background-size: cover;
    box-shadow: 2px 2px 2px 3px black;
    
}

#nbquestion{
    padding-top: 3rem;
}


div.jumbotron #flag{
    max-width: 50%;
    height: auto;
    border-image: linear-gradient(red, blue) 27;

}

/* Écriture  */

.police{
    text-align: center;
    padding-top: 3rem;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

.policeS{
    text-align: center;
    padding-top: 2rem;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

/* Partie question  */

#question{
    text-align: center;
}

/* Partie Liste des réponses  */

ul{
    list-style: none;
    cursor: pointer;
}

ul.jumbotron {
    background-color:rgb(79, 174, 234);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 2px 2px 2px black;
}

#response {
    margin-right: 2rem;
    margin-top: 1rem;
}


/* FlagFinder */

#question, img{
    height: 100px;
}

/* MENU */